
<div class ="forgotPassword" align="center">

<H1>Forgot password</H1>

<table>
<tr><td>Email</td><td><input type="text"></td></tr>


<tr><td></td><td><input padding-right="90px" type="submit" ng-click="button_click()" value="Forgot Password"> </td></tr>

</table>

<div id="content-wrap1">
   <footer class="container">
      <div class="grid3 first">

         <h3>social</h3>

            <ul class="social-links cf">
           <li class="twitter"><a href="#">Twitter</a></li>
           <li class="facebook"><a href="#">Facebook</a></li>
           <li class="google"><a href="#">Google</a></li>
           <li class="instagram"><a href="#">Instagram</a></li>
           <li class="dribble"><a href="#">Dribble</a></li>
         </ul>
		</div>
	</footer>
	</div>
</div>
