<table class="login">
      <tr>
        <td> <label for"textbox" > User-name :</label> </td>        
        <td> <input ng-model="user.username" type ="text" id ="textbox"> </td>
    
      </tr>

          <tr>
        <td> <label for"textbox" > Password :</label> </td>
        <td> <input ng-model="user.password" type ="Password" id ="textbox"></td>
        </tr>
        
        <tr>
        <td> </td>
        <td> <button type = "submit" ng-click="button_click()">Login </button> </td>
        </tr>
      <tr><td> </td>
      <td>
        <a href="../forgot_pwd.html">forgot password</a></td></tr>
    
        </table>
    