<table class="login">
      <tr>
        <td> <label for"textbox" > User-name :</label> </td>        
        <td> <input ng-model="username" type ="text" id ="textbox"> </td>
    
      </tr>

          <tr>
        <td> <label for"textbox" > Password :</label> </td>
        <td> <input ng-model="password" type ="Password" id ="textbox"></td>
        </tr>

        <tr>
        <td>username - {{username}} </td>
        <td>password - {{password}}</td>
        </tr>

        
        

        <tr>
        <td> </td>
        <td> <button type = "submit">Login </button> </td>
        </tr>
      <tr><td> </td>
      <td>
        <a href="../forgot_pwd.html">forgot password</a></td></tr>
    
        </table>
    