
      <div class="container">
      	<span class="description">
      		<h3>How to register on Outcode: </h3>
      		<p> Fill in all the requisites then click "register".</p>
      	</span>
      </div>

  </div>

  {{message}}

  <article class="container" id="latest-article">	
  	<table class="register" id="reg">
  		<tr>
  			<td ><label>Name :</label></td>
  			<td ><input ng-model="user.name" type="text" title="your first name [eg. John]"></td>
  		</tr>	
  		<!--  -->
  		<tr>
  			<td > <label>Username :</label></td>
  			<td > <input ng-model="user.username" type="text" title="6 to 10 characters [eg. Outcoder451]"></td>
  		</tr>
  		<!--  -->
  		<tr>
  			<td ><label>Password :</label></td>
  			<td ><input ng-model="user.password" type="password" title="8 to 12 characters [eg. Xkgflgk%^$12]"></td>
  		</tr>
  		<!--  -->
  		<tr>
  			<td ><label>Confirm Password :</label></td>
  			<td ><input ng-model="user.passwordConfirm" type="password" title="repeat the password above."></td>
  		</tr>

  		<!--  -->
  		<tr>
  			<td > <label> e-mail Addresss: </label></td>
  			<td ><input ng-model="user.email" type="text" title="your current e-mail address [eg. me@somewhere.com]"></td>
  		</tr>	
  		<!--  -->
  		<tr>
  			<td > <label> Type of User : </label></td>
  			<td>
  				<input type="radio" name="clicked" value="Volunteer" title="If you are just volunteering to take part">1. Volunteer.<br>
  				<input type="radio" name="clicked" value="Organiser" title="If you have a product that you would like for us to recruit for and advertise for your NGO/NPO.">2. Organiser.</a><br>
  			</td>
  			
  		</tr>

  		<!--  -->
  		<tr class="hiddenColumn" id="Organised">
  		</tr>	

  		<tr class="hiddenColumn" id="Organised">
  		</tr>
  		<!--  -->

  		<!--  -->
  		<tr>

  			<td>
  				<p1> 
  					Do you agree with our full terms and conditions ? To read them <a href="#"><i>click here.</i></a> 
  				</p1>

  			</td>	
  			<td>
  				<input type="radio" name="clicked" value="No" title="I Don't Agree">No 
  				<input type="radio" name="clicked" value="Yes" title="I Agree"> Yes</a><br>
  			</td>
  		</tr>

  		<tr >
  			<td></td>
  			<td><input padding-right="90px" type="submit" ng-click="button_click()" value="Register"> 
  			</td>
  		</tr>

  	</table>
  </article>

  <script type="text/Javascript">

 // alert('jQuery ' + jQuery.fn.jquery);
 
 $('.hiddenColumn').hide();

 $('input[type=radio]').click(function() {
 	var $nextTR = $(this).closest('tr').next('tr');
 	var $nextTRQ = $(this).closest('tr').next('tr').next('tr');
 	
 	if (this.value == 'Organiser') {
 		$nextTR
 		.html('<td class="left"><label>Organisation Name :</label><br/></td><td><input type="text" title="Give us the name of your organisation [eg. Outcode]" name="OrganisationName"></td>').show(500);
 		$nextTRQ
 		.html('<td class="left"><label>Organisation Description :</label><br/></td><td><textarea  title="A brief sentence on what your Organisation is about." name="OrganisationDescrption"/></td>').show(450);

 	} 
 	else if (this.value == 'Volunteer') {
 		$nextTR.hide(500);
 		$nextTRQ.hide(450); 
 	};
 });

//var result_style = document.getElementById('Organised').style;
//result_style.display = 'table-row';
//

</script>